.footer {
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-bg);
  border-top: 0.1rem solid var(--color-text);
  color: var(--color-text);
  font-family: monospace;
  font-size: 1.2rem;

  &__link {
    text-decoration: underline;
  }

  &__course {
    width: 100px;
    height: 40px;
  }
}
