@font-face {
  font-family: Georgia;
  src: url("./assets/fonts/fonts/georgia/georgia-regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Georgia;
  src: url("./assets/fonts/fonts/georgia/georgia-bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Arial;
  src: url("./assets/fonts/fonts/arial/arial-regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Arial;
  src: url("./assets/fonts/fonts/arial/arial-italic.ttf");
  font-weight: 400;
  font-style: italic;
}
*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  width: 100%;
}

.wrapper {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}
.overlay_shown {
  display: block;
}

.scroll-block {
  position: fixed;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

p {
  margin: 0;
}

a, a:visited {
  color: inherit;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

@media (max-width: 769px) {
  .container {
    padding: 0 30px;
  }
}
@media (max-width: 480px) {
  .container {
    padding: 0 10px;
  }
}
.header {
  padding: 30px 0 0 0;
  position: absolute;
  width: 100%;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
}
.header__logo:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -1px 0 0 0;
  gap: 36px;
  list-style: none;
  font-family: "Arial";
}
.header__item {
  font-size: 15px;
  line-height: 24px;
  color: #CDCDCD;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}
.header__item:hover {
  color: #FAFAFA;
}
.header__item:active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 3px;
  background: #F1CDB3;
}
.header__item_active {
  color: #FAFAFA;
}
.header__item_active:hover > a {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
}
.header__item_active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 3px;
  background: #F1CDB3;
}
.header__link {
  text-decoration: none;
}

.logo-color__title {
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  margin: 0 0 9px 0;
}
.logo-color__subtitle {
  font-family: "Arial";
  font-style: normal;
  text-align: center;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

/* FOR PETS PAGE */
.header__item_dark {
  color: #545454;
}
.header__item_dark:hover {
  color: #292929;
}
.header__item_active-dark {
  color: #545454;
}
.header__item_active-dark::after {
  background: #F1CDB3;
}

.header_white {
  background: #FFFFFF;
  padding: 30px 0 30px 0;
}

.logo-black__title {
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0 0 9px 0;
}
.logo-black__subtitle {
  font-family: "Arial";
  font-style: normal;
  text-align: center;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #292929;
}

.burger {
  position: relative;
  display: none;
  z-index: 4;
  width: 30px;
  height: 22px;
  margin: 0 11px 0 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.burger__line {
  border: 1px solid #F1CDB3;
}
.burger__line_dark {
  border: 1px solid #000000;
}
.burger_shown {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media (max-width: 767.7px) {
  .header__logo {
    margin: 0 0 0 10px;
  }
  .header__menu {
    position: absolute;
    z-index: 3;
    top: 0;
    right: -768px;
    width: 320px;
    height: 100vh;
    margin: 0;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
    background: #292929;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header__menu_shown {
    right: 0;
  }
  .header__item {
    font-size: 32px;
    line-height: 51px;
  }
  .header__item_active::after {
    bottom: -1px;
  }
  /* FOR PETS PAGE */
  .header__item_dark {
    color: #CDCDCD;
  }
  .header__item_dark:hover {
    color: #FAFAFA;
  }
  .header__item_active-dark {
    color: #FAFAFA;
  }
  .header__item_active-dark::after {
    background: #F1CDB3;
  }
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .burger_shown > .burger__line_dark {
    border: 1px solid #F1CDB3;
  }
}
.banner {
  padding: 180px 0 0 0;
  background: url("./assets/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}
.banner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 42px;
}
.banner__text-content {
  margin: 12.8cqw 0 5cqw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 42px;
  max-width: 460px;
}
.banner__title {
  font-size: 44px;
  line-height: 130%;
  color: #FFFFFF;
  max-width: 400px;
}
.banner__text {
  font-family: "Arial";
  font-size: 15px;
  line-height: 24px;
  color: #CDCDCD;
}
.banner__btn-link {
  display: inline-block;
  width: 207px;
  height: 52px;
  line-height: 52px;
  text-align: center;
  background: #F1CDB3;
  border-radius: 100px;
  font-size: 17px;
  letter-spacing: 0.06em;
  color: #292929;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.banner__btn-link:hover {
  background: #FDDCC4;
}
.banner__image {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-width: 50%;
}
.banner__image > img {
  width: 100%;
}

@media (max-width: 886px) {
  .banner {
    padding: 150px 0 0 0;
  }
  .banner__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 99px;
  }
  .banner__text-content {
    margin: 0;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    max-width: none;
    padding: 0 124px;
  }
  .banner__title {
    max-width: 310px;
  }
  .banner__btn-link {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .banner__image {
    padding: 0 0 0 139px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
@media (max-width: 767.7px) {
  .banner__container {
    gap: 106px;
  }
  .banner__text-content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .banner__title {
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    max-width: 230px;
    letter-spacing: 0.06em;
  }
  .banner__text {
    text-align: center;
  }
  .banner__image {
    padding: 0 0 0 40px;
  }
}
.about {
  padding: 80px 0 96px 0;
}
.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 120px;
}
.about__image {
  text-align: center;
}
.about__text-content {
  margin: 14px 0 0 0;
  max-width: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}
.about__title {
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
  max-width: 410px;
}
.about__text {
  font-family: "Arial";
  font-size: 15px;
  line-height: 24px;
  color: #4C4C4C;
}

@media (max-width: 886px) {
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 80px;
  }
  .about__image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .about__text-content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0;
    max-width: none;
    padding: 0 138px;
  }
  .about__title {
    max-width: none;
    padding: 0 25px 0 0;
  }
}
@media (max-width: 767.7px) {
  .about {
    padding: 42px 0 37px;
  }
  .about__container {
    gap: 42px;
  }
  .about__image {
    padding: 0 20px;
  }
  .about__image > img {
    width: 100%;
  }
  .about__text-content {
    margin: 0;
    max-width: none;
    padding: 0;
  }
  .about__title {
    font-size: 25px;
    line-height: 32px;
    padding: 0 5px;
    text-align: center;
  }
  .about__text {
    font-size: 15px;
    line-height: 24px;
    padding: 0 15px;
    text-align: justify;
  }
  .about__text:last-child {
    margin: -3px 0 0 0;
  }
}
.card {
  max-width: 270px;
  padding: 0 0 30px 0;
  background: #FAFAFA;
  border-radius: 9px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.card__image {
  padding: 0 0 25px 0;
}
.card__name {
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  padding: 0 0 30px 0;
}
.card__btn {
  display: inline-block;
  width: 187px;
  line-height: 48px;
  text-align: center;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  font-size: 17px;
  letter-spacing: 0.06em;
  color: #292929;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.card:hover {
  cursor: pointer;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.card:hover > .card__btn {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.card:active > .card__btn {
  background: #F1CDB3;
  border: 2px solid #F1CDB3;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.slider__arrow {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 52px;
          flex: 0 0 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: transparent;
}
.slider__arrow_left {
  background-image: url("./assets/icons/arrow-left.svg");
}
.slider__arrow_right {
  background-image: url("./assets/icons/arrow-right.svg");
}
.slider__arrow:disabled {
  border: 2px solid #CDCDCD;
}
.slider__arrow_right:disabled {
  background-image: url("./assets/icons/arrow-right-dis.svg");
}
.slider__arrow_left:disabled {
  background-image: url("./assets/icons/arrow-left-dis.svg");
}
.slider__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1080px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100cqw;
  margin: 0 auto;
}
.slider__arrow:not(:disabled):hover {
  cursor: pointer;
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
}

@media (max-width: 1000px) {
  .slider__content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 12px;
  }
  .slider__card:nth-child(3) {
    display: none;
  }
  .slider__arrow {
    margin: 1px 0 0 0;
  }
}
@media (max-width: 767.7px) {
  .slider {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 20px;
  }
  .slider__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .slider__arrow {
    margin: 0;
  }
  .slider__arrow_left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 0 0 20px;
  }
  .slider__arrow_right {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: 0 20px 0 0;
  }
  .slider__card:nth-child(2) {
    display: none;
  }
  .slider__card:nth-child(3) {
    display: none;
  }
}
.slider__window {
  position: relative;
  width: 100%;
  height: 435px;
  overflow: hidden;
}

.slider__carousel {
  position: absolute;
  right: -100%;
  width: 300%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.slider-scroll-left {
  -webkit-animation: scroll-left 1s ease-in-out;
          animation: scroll-left 1s ease-in-out;
}

@-webkit-keyframes scroll-left {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}

@keyframes scroll-left {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}
.slider-scroll-right {
  -webkit-animation: scroll-right 1s ease-in-out;
          animation: scroll-right 1s ease-in-out;
}

@-webkit-keyframes scroll-right {
  0% {
    right: -100%;
  }
  100% {
    right: -200%;
  }
}

@keyframes scroll-right {
  0% {
    right: -100%;
  }
  100% {
    right: -200%;
  }
}
.our-pets {
  padding: 81px 0 100px 0;
  background: #F6F6F6;
}
.our-pets__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.our-pets__title {
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
  max-width: 410px;
  padding: 0 0 59px 0;
}
.our-pets__slider {
  padding: 0 0 60px 0;
}
.our-pets__btn-link {
  display: inline-block;
  width: 261px;
  height: 52px;
  line-height: 52px;
  text-align: center;
  background: #F1CDB3;
  border-radius: 100px;
  font-size: 17px;
  letter-spacing: 0.06em;
  color: #292929;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.our-pets__btn-link:hover {
  background: #FDDCC4;
}

/* 

@media (max-width: 1000px) {

  .our-pets {
    padding: 81px 0 100px 0;
    background: #F6F6F6;

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__title {
      font-size: 35px;
      line-height: 45px;
      letter-spacing: 0.06em;
      text-align: center;
      color: #545454;
      max-width: 410px;
      padding: 0 0 59px 0;
    }

    &__slider {
      padding: 0 0 60px 0;
    }

    &__btn-link {
      display: inline-block;
      width: 261px;
      height: 52px;
      line-height: 52px;
      text-align: center;
      background: #F1CDB3;
      border-radius: 100px;
      font-size: 17px;
      letter-spacing: 0.06em;
      color: #292929;
      text-decoration: none;
      transition: all .3s ease;
    }

    &__btn-link:hover {
      background: #FDDCC4;
    }
  }
} */
@media (max-width: 767.7px) {
  .our-pets {
    padding: 42px 0;
  }
  .our-pets__title {
    font-size: 25px;
    line-height: 32px;
    padding: 0 0 42px 0;
  }
  .our-pets__slider {
    padding: 0 0 43px 0;
  }
}
.help {
  padding: 80px 0 100px 0;
}
.help__title {
  margin: 0 auto;
  text-align: center;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
  max-width: 320px;
  padding: 0 0 60px 0;
}
.help__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 120px;
     -moz-column-gap: 120px;
          column-gap: 120px;
  row-gap: 55px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.help__list-item {
  text-align: center;
}
.help__image {
  height: 60px;
  margin: 0 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.help__subtitle {
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

@media (max-width: 886px) {
  .help {
    padding: 80px 0 100px 0;
  }
  .help__list {
    -webkit-column-gap: 0px;
       -moz-column-gap: 0px;
            column-gap: 0px;
    row-gap: 55px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .help__list-item {
    text-align: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 32.5%;
            flex: 0 0 32.5%;
  }
  .help__image {
    height: 60px;
    margin: 0 0 30px 0;
  }
}
@media (max-width: 767.7px) {
  .help {
    padding: 42px 0;
  }
  .help__title {
    font-size: 25px;
    line-height: 32px;
    padding: 0 20px 42px 20px;
  }
  .help__list {
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
    row-gap: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .help__list-item {
    text-align: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 47%;
            flex: 0 1 47%;
  }
  .help__image {
    width: 50px;
    height: 50px;
    margin: 0 auto 20px auto;
  }
  .help__image > img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .help__subtitle {
    font-size: 15px;
    line-height: 17px;
  }
}
.donation {
  padding: 80px 0 100px 0;
  background: #F6F6F6;
}
.donation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.donation__image {
  margin-top: 5px;
}
.donation__image > img {
  width: 100%;
}
.donation__text {
  max-width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.donation__title {
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
  max-width: 300px;
}
.donation__bank {
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.06em;
  color: #545454;
}
.donation__link-btn {
  border-radius: 9px;
  padding: 10px 15px 10px 60px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  text-decoration: none;
  background: url("./assets/icons/credit-card.svg") no-repeat 15px 50%, #F1CDB3;
  max-width: 350px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.donation__link-btn:hover {
  background: url("./assets/icons/credit-card.svg") no-repeat 15px 50%, #FDDCC4;
}
.donation__add-info {
  font-family: "Arial";
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
}

@media (max-width: 886px) {
  .donation {
    padding: 80px 0 96px 0;
  }
  .donation__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 60px;
  }
  .donation__image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 0;
  }
  .donation__text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (max-width: 767.7px) {
  .donation {
    padding: 42px 0 38px;
  }
  .donation__container {
    gap: 42px;
  }
  .donation__image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 0;
    padding: 0 19px;
  }
  .donation__image > img {
    width: 100%;
  }
  .donation__text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .donation__title {
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    padding: 0 40px;
  }
  .donation__bank {
    text-align: center;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0;
    margin: 0 0 -1px 0;
  }
  .donation__link-btn {
    white-space: nowrap;
    font-size: 15px;
    line-height: 17px;
    padding: 13px 14px 13px 59px;
    max-width: 281px;
  }
  .donation__add-info {
    padding: 0 10px;
    text-align: justify;
  }
}
.footer {
  padding: 40px 0 0 0;
  background: url("./assets/noise_transparent@2x.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer__contacts {
  margin: 16px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 302px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer__addresses {
  margin: 16px 22px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 302px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.footer__image > img {
  width: 100%;
}
.footer__title {
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin: 0 0 33px 0;
}
.footer__item {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  height: 46px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__item_email {
  padding: 0 0 0 60px;
  background: url("./assets/icons/icon-email.svg") no-repeat left 50%;
  margin: 0 0 27px 0;
}
.footer__item_phone {
  padding: 0 0 0 60px;
  background: url("./assets/icons/phone.svg") no-repeat left 50%;
}
.footer__item_address {
  padding: 0 0 0 42px;
  background: url("./assets/icons/pin.svg") no-repeat left 50%;
}
.footer__item a {
  text-decoration: none;
}
.footer__item:nth-child(2) {
  margin: 0 0 27px 0;
}
.footer__item:hover {
  color: #FFFFFF;
}

@media (max-width: 886px) {
  .footer {
    padding: 15px 0 0 0;
  }
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    row-gap: 56px;
  }
  .footer__contacts {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    padding: 0 0 0 15px;
  }
  .footer__addresses {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    padding: 0 0 0 10px;
    max-width: 304px;
  }
  .footer__item_address {
    padding: 0 0 0 40px;
    background: url("./assets/icons/pin.svg") no-repeat left 50%;
  }
  .footer__item:nth-child(2) {
    margin: 0 0 27px 0;
  }
}
@media (max-width: 767.7px) {
  .footer {
    padding: 20px 0 0 0;
  }
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    row-gap: 32px;
  }
  .footer__contacts {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin: 11px 0 0 0;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__addresses {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin: 0;
    padding: 0;
    max-width: 303px;
    gap: 8px;
  }
  .footer__title {
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    padding: 0 10px;
  }
  .footer__item_address {
    padding: 0 0 0 40px;
    background: url("./assets/icons/pin.svg") no-repeat left 50%;
  }
  .footer__item:nth-child(2) {
    margin: 0 0 25px 0;
  }
  .footer__image {
    padding: 0 20px;
  }
}
.popup {
  position: absolute;
  display: none;
  z-index: 5;
  left: 0;
  width: 100%;
}
.popup__show {
  display: block;
}
.popup__overlay {
  background: rgba(41, 41, 41, 0.6);
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.popup__content {
  width: 900px;
  height: 500px;
  background: #FAFAFA;
  border-radius: 9px;
  position: relative;
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.popup__content:hover {
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.popup__close {
  position: absolute;
  right: -44px;
  top: -52px;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background: url("../assets/icons/close-popup-icon.png") no-repeat center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.popup__close:hover {
  background: url("../assets/icons/close-popup-icon.png") no-repeat center, #FDDCC4;
}
.popup__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 500px;
          flex: 0 0 500px;
  height: 500px;
  overflow: hidden;
  border-radius: 9px;
}
.popup__image > img {
  width: 100%;
  height: auto;
}
.popup__text {
  color: #000000;
  font-weight: 400;
  letter-spacing: 0.06em;
  padding: 0 19px 0 28px;
  overflow-y: auto;
}
.popup__name {
  font-size: 35px;
  line-height: 45px;
  margin: 50px 0 10px 0;
}
.popup__type-and-breed {
  font-size: 20px;
  line-height: 115%;
  margin: 0 0 40px 0;
}
.popup__desc {
  font-size: 15px;
  line-height: 17px;
  margin: 0 0 40px 0;
}
.popup__info {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.popup__info-item {
  background: url("../assets/icons/dot.png") no-repeat left center;
  padding: 0 0 0 14px;
}
.popup__info-title {
  font-size: 15px;
  line-height: 17px;
  font-weight: 700;
}
.popup__info-text {
  font-size: 15px;
  line-height: 17px;
}

@media (max-width: 1000px) {
  .popup__content {
    width: 630px;
    height: 350px;
  }
  .popup__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 350px;
            flex: 0 0 350px;
    height: 350px;
  }
  .popup__text {
    padding: 0 9px 0 9px;
    letter-spacing: 0.05em;
  }
  .popup__name {
    font-size: 35px;
    line-height: 45px;
    margin: 10px 0 10px 0;
  }
  .popup__type-and-breed {
    font-size: 20px;
    line-height: 115%;
    margin: 0 0 20px 0;
  }
  .popup__desc {
    font-size: 13px;
    line-height: 14px;
    margin: 0 0 15px 0;
  }
  .popup__info {
    gap: 6px;
  }
  .popup__info-item {
    padding: 0 0 0 14px;
  }
  .popup__info-title {
    font-size: 15px;
    line-height: 17px;
    font-weight: 700;
  }
  .popup__info-text {
    font-size: 15px;
    line-height: 17px;
  }
}
@media (max-width: 767.7px) {
  .popup__content {
    width: 240px;
    height: auto;
    padding: 10px;
  }
  .popup__image {
    display: none;
  }
  .popup__text {
    padding: 0;
    letter-spacing: 0.05em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .popup__name {
    font-size: 35px;
    line-height: 45px;
    margin: 0 0 10px 0;
    text-align: center;
  }
  .popup__type-and-breed {
    font-size: 20px;
    line-height: 115%;
    margin: 0 0 20px 0;
    text-align: center;
  }
  .popup__desc {
    font-size: 13px;
    line-height: 14px;
    margin: 0 0 24px 0;
    text-align: justify;
    letter-spacing: 0.04em;
  }
  .popup__info {
    gap: 6px;
  }
  .popup__info-item {
    padding: 0 0 0 14px;
  }
  .popup__info-title {
    font-size: 15px;
    line-height: 17px;
    font-weight: 700;
  }
  .popup__info-text {
    font-size: 15px;
    line-height: 17px;
  }
}