
.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &__arrow {
    flex: 0 0 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .3s ease;
    background-color: transparent;

    &_left {
      background-image: url('./assets/icons/arrow-left.svg');
    }

    &_right {
      background-image: url('./assets/icons/arrow-right.svg');
    }
  }

  &__arrow:disabled {
    border: 2px solid #CDCDCD;
  }

  &__arrow_right:disabled {
    background-image: url('./assets/icons/arrow-right-dis.svg');
  }

  &__arrow_left:disabled {
    background-image: url('./assets/icons/arrow-left-dis.svg');
  }

  &__content {
    display: flex;
    max-width: 1080px;
    justify-content: space-around;
    width: 100cqw;
    margin: 0 auto;
  }

  &__arrow:not(:disabled):hover {
    cursor: pointer;
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
  }
}

@media (max-width: 1000px) {
  .slider {
  
    &__content {
      justify-content: space-between;
      padding: 0 12px;
    }

    &__card:nth-child(3) {
      display: none;      
    }
    &__arrow {
      margin: 1px 0 0 0;
    }
  }

}

@media (max-width: 767.7px) {
  .slider {
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 20px;
  
    &__content {
      justify-content: center;
      padding: 0;
      order: 1;
    }

    &__arrow {
      margin: 0;
  
      &_left {
        order: 2;
        margin: 0 0 0 20px;
      }
  
      &_right {
        order: 3;
        margin: 0 20px 0 0;
      }
    }

    &__card:nth-child(2) {
      display: none;      
    }

    &__card:nth-child(3) {
      display: none;      
    }
  }

}

.slider__window {
  position: relative;
  width: 100%;
  height: 435px;
  overflow: hidden;

}

.slider__carousel {
  position: absolute;
  right: -100%;
  width: 300%;
  display: flex;
  flex-wrap: nowrap;
}

.slider-scroll-left {
  animation: scroll-left 1s ease-in-out;
}

@keyframes scroll-left {
  0% {
    right: -100%;
  }

  100% {
    right: 0;
  }
}

.slider-scroll-right {
  animation: scroll-right 1s ease-in-out;
}

@keyframes scroll-right {
  0% {
    right: -100%;
  }

  100% {
    right: -200%;
  }
}