input[type=range]  {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
}
input[type=range]::-webkit-slider-runnable-track {
  border-radius: var(--small-radius);
  height: 7px;
  
  background: linear-gradient(90deg, var(--add-color-1), var(--add-color-2));
}
input[type=range]::-webkit-slider-thumb {
  background: var(--font-color);
  border-radius: var(--small-radius);
  cursor: pointer;
  width: 0.4rem;
  height: 1rem;
  -webkit-appearance: none;
  margin-top: -4px;
}

input[type=range]::-moz-range-track {
  border-radius: var(--small-radius);
  height: 5px;
  
  background: linear-gradient(90deg, var(--add-color-1), var(--add-color-2));
}
input[type=range]::-moz-range-thumb {
  background: var(--font-color);
  border-radius: var(--small-radius);
  cursor: pointer;
  width: 0.4rem;
  height: 1rem;
}