.btn {
  cursor: pointer;

  background-color: var(--color-text);
  color: var(--color-bg);
  padding: 0.2rem 1rem;
  font-family: monospace;
  font-size: 1.2rem;

  transition: all .3s ease;
}

.btn:hover {
  background-color: var(--color-decor);
  color: var(--color-text);
  transform: scale(1.05);
}