*, *::before, *::after {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  position: relative;
  background-color: var(--color-body-bg);
}

bento {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: relative;

  background-image: linear-gradient(180deg, rgb(200, 12, 12) 0% 20%, rgb(150, 150, 255) 20% 22%, blue 22% 78%, rgb(7, 15, 51) 78% 80%, rgb(200, 12, 12) 80% 100%);
  border: 1px solid black;
  box-shadow: 0 5px 5px black;

  padding: 5px;
}

bento > * {
  width: 30%;
  height: 30%;
}

bento > orange::before {
  left: 130%;
  color: var(--color-text);
  transform: scale(1.5)
}

bento > apple::before {
  left: 130%;
  color: var(--color-text);
  transform: scale(1.5)
}

bento > *:nth-child(1) {
  z-index: 3;
}

bento > *:nth-child(2) {
  position: relative;
  top: -10%;
  z-index: 2;
}

bento > *:nth-child(3) {
  position: relative;
  top: -20%;
  z-index: 1;
}

plate {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 0;
  margin: 0;

  position: relative;

  background-image: url('../shared/assets/img/plate.png');
  background-size: 128%;
  background-position: center;
  border: 1px solid black;
  box-shadow: 0 5px 5px black;
  border-radius: 50%;
}

plate > orange::before {
  left: 130%;
  color: var(--color-text);
  transform: scale(1.5)
}

plate > apple::before {
  left: 130%;
  color: var(--color-text);
  transform: scale(1.5)
}

plate > * {
  width: 30%;
  height: 30%;
}

plate > *:nth-child(1) {
  z-index: 3;
}

plate > *:nth-child(2) {
  position: relative;
  top: -10%;
  z-index: 2;
}

plate > *:nth-child(3) {
  position: relative;
  top: -20%;
  z-index: 1;
}

napkin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: relative;

  background-image: url('../shared/assets/img/napkin.jpg');
  border: 1px solid black;
  box-shadow: 0 0.1rem 0.1rem black;
}

napkin > orange::before {
  left: 130%;
  color: var(--color-text);
  transform: scale(1.5)
}

napkin > apple::before {
  left: 130%;
  color: var(--color-text);
  transform: scale(1.5)
}

napkin > * {
  width: 30%;
  height: 30%;
}

napkin *:nth-child(1) {
  z-index: 3;
}

napkin *:nth-child(2) {
  position: relative;
  top: -10%;
  z-index: 2;
}

napkin *:nth-child(3) {
  position: relative;
  top: -20%;
  z-index: 1;
}

bento.light::before {
  content: '/bento';
  width: 4rem;
  height: 1.5rem;
  position: absolute;
  top: -2rem;
  left: 0;
  z-index: 5;

  background-color: var(--color-bg);
  border: 0.1rem solid black;
  
  color: var(--color-text);

  display: flex;
  justify-content: center;
  align-items: center;
  
  transform: scale(1.5)
}

napkin.light::before {
  content: '/napkin';
  width: 4rem;
  height: 1.5rem;
  position: absolute;
  top: -4rem;
  left: 0;
  z-index: 5;

  background-color: var(--color-bg);
  border: 0.1rem solid black;
  
  color: var(--color-text);

  display: flex;
  justify-content: center;
  align-items: center;
  
  transform: scale(1.5)
}

plate.light::before {
  content: '/plate';
  width: 4rem;
  height: 1.5rem;
  position: absolute;
  top: -2rem;
  left: 0;
  z-index: 5;

  background-color: var(--color-bg);
  border: 0.1rem solid black;
  
  color: var(--color-text);

  display: flex;
  justify-content: center;
  align-items: center;
  
  transform: scale(1.5)
}

orange {
  position: relative;
  background-color: orange;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 0 3px 3px black;
}

orange.big {
  max-width: 6rem;
  max-height: 6rem;
}

orange::after {
  content: '';

  position: absolute;
  top: 15%;
  left: 30%;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
}

orange.light::before {
  content: '/orange';
  width: 4rem;
  height: 1.5rem;
  position: absolute;
  top: -2rem;
  right: 0;
  z-index: 5;

  background-color: var(--color-bg);
  border: 0.1rem solid black;

  display: flex;
  justify-content: center;
  align-items: center;
}

apple {
  position: relative;
  background-color: rgb(180, 3, 3);
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 0 3px 3px black;
}

apple.big {
  max-width: 6rem;
  max-height: 6rem;
}

apple::after {
  content: '';

  position: absolute;
  top: 15%;
  left: 30%;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
}

apple.light::before {
  content: '/apple';
  width: 4rem;
  height: 1.5rem;
  position: absolute;
  top: -2rem;
  right: 0;
  z-index: 5;

  background-color: var(--color-bg);
  border: 0.1rem solid black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.small {
  width: 8cqw;
  height: 8cqw;
}

.choose-me {
  animation: choose .3s ease infinite;
}

.right > *:not(.right) {
  animation: anti-right .5s ease-in-out;
}

.right {
  animation: right .5s ease-in-out;
}

.wrong {
  animation: wrong .5s ease-in-out;
}

@keyframes choose {
  0% {
    transform: translate(-0.1rem, 0.1rem);
  }
  25% {
    transform: translate(-0.1rem, -0.1rem);
  }
  50% {
    transform: translate(0.1rem, -0.1rem);
  }
  75% {
    transform: translate(0.1rem, 0.1rem);
  }
  100% {
    transform: translate(-0.1rem, 0.1rem);
  }
}

@keyframes right {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-25vh);
  }
  50% {
    transform: translateY(-50vh);
  }
  75% {
    transform: translateY(-75vh);
  }
  100% {
    transform: translateY(-100vh);
  }
}

@keyframes anti-right {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(25vh);
  }
  50% {
    transform: translateY(50vh);
  }
  75% {
    transform: translateY(75vh);
  }
  100% {
    transform: translateY(100vh);
  }
}

@keyframes wrong {
  0% {
    box-shadow: 0 0 0.1rem red;
  }
  25% {
    box-shadow: 0 0 0.5rem red, 0 0 0.5rem red, 0 0 0.5rem red;
  }
  50% {
    box-shadow: 0 0 1rem red, 0 0 1rem red, 0 0 1rem red, 0 0 1rem red, 0 0 1rem red;
  }
  75% {
    box-shadow: 0 0 0.5rem red, 0 0 0.5rem red, 0 0 0.5rem red;
  }
  100% {
    box-shadow: 0 0 0.1rem red;
  }
}