*, *::before, *::after {
  box-sizing: border-box;
}

.html-code {
  white-space: pre;
  cursor: default;
}

.html-tag {
  color: mediumblue;
}

.html-attr {
  color: deepskyblue;
}

.html-value {
  color: chocolate;
}

body {
  overflow-x: hidden;
}

square {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: yellow;
  border: 1px solid black;
  box-shadow: 0 5px 5px black;

  padding: 5px;
}

square > * {
  width: 30%;
  height: 30%;
}

square > *:nth-child(1) {
  z-index: 3;
}

square > *:nth-child(2) {
  position: relative;
  top: -10%;
  z-index: 2;
}

square > *:nth-child(3) {
  position: relative;
  top: -20%;
  z-index: 1;
}

circle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: green;
  border: 1px solid black;
  box-shadow: 0 5px 5px black;
  border-radius: 50%;
}

circle > * {
  width: 30%;
  height: 30%;
}

circle > *:nth-child(1) {
  z-index: 3;
}

circle > *:nth-child(2) {
  position: relative;
  top: -10%;
  z-index: 2;
}

circle > *:nth-child(3) {
  position: relative;
  top: -20%;
  z-index: 1;
}

rhombus {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: red;
  border: 1px solid black;
  box-shadow: 5px 5px 5px black;
  transform: rotate(45deg) scale(0.7);
}

rhombus > * {
  width: 30%;
  height: 30%;
  
  transform: rotate(-45deg);
}

rhombus *:nth-child(1) {
  z-index: 3;
}

rhombus *:nth-child(2) {
  position: relative;
  top: -10%;
  z-index: 2;
}

rhombus *:nth-child(3) {
  position: relative;
  top: -20%;
  z-index: 1;
}

.light {
  outline: 2px solid silver;
}