.garage {
  display: flex;
  flex-direction: column;

  &__controls {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 0 1rem;
  }

  &__name {
    position: absolute;
    text-orientation: upright;
    writing-mode: vertical-lr;
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 0 0.5rem;
    color: var(--btn-text);
    text-shadow: 0 0 0.5rem var(--btn-bg), 0 0 0.5rem var(--btn-bg), 0 0 0.5rem var(--btn-bg), 0 0 0.5rem var(--btn-bg), 0 0 0.5rem var(--btn-bg), ;
  }
}

@media (width < 997.7px) {
  .garage {
  
    &__controls {

      & > .btn {
        width: 10rem;
      }
    }
  }
}
