body[data-theme="light"] {
  --color-body-bg: #FFFFFF;
  --color-bg: #F5F5F5;
  --color-text: #160040;
  --color-decor: #F05454;
  --color-code-bg: #EDEDED;
  --color-code-text: #000000;
}

body[data-theme = "dark"] {
  --color-body-bg: #222222;
  --color-bg: #160040;
  --color-text: #F5F5F5;
  --color-decor: #9A0680;
  --color-code-bg: #423F3E;
  --color-code-text: #EDEDED;
}