.table {
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-image: url('../../shared/assets/img/wooden-back.jpg');
  background-size: cover;

  border-radius: 1rem;
  box-shadow: inset 0 0 2rem white, 0 0.5rem 0 brown;
  border: 0.2rem solid brown;

  transform: rotateX(5deg) scale(0.8);
}

.table > * {
  width: 25cqw;
  height: 25cqw;
  max-width: 180px;
  max-height: 180px;
}

.table .light {
  outline: 0.3rem solid white;
}
