.car-track {

  &__track {
    position: relative;
    height: 12vh;
    background-image: var(--track-bg);
    background-size: contain;
    background-repeat: repeat-x;
    display: flex;
    align-items: center;
  }
  &__track::before {
    position: absolute;
    top: 0;
    right: 80px;
    content: '';
    height: 100%;
    width: 50px;
    background-image: var(--track-finish);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}