.car-track {

  &__track {
    position: relative;
    height: 12vh;
    background-image: url('../../shared/assets/img/car-bg.png');
    background-image: url('../../shared/assets/img/witch-bg.jpg');
    background-size: contain;
    background-repeat: repeat-x;
    display: flex;
    align-items: center;
  }
  &__track::before {
    position: absolute;
    top: 0;
    right: 80px;
    content: '';
    height: 100%;
    width: 50px;
    background-image: url('../../shared/assets/img/car-finish.jpg');
    background-image: url('../../shared/assets/img/witch-finish.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}