.about {
  padding: 80px 0 96px 0;

  &__container {
    display: flex;
    justify-content: center;
    gap: 120px;
  }

  &__image {
    text-align: center;
  }

  &__text-content {
    margin: 14px 0 0 0;
    max-width: 430px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &__title {
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: #545454;
    max-width: 410px;
  }

  &__text {
    font-family: 'Arial';
    font-size: 15px;
    line-height: 24px;
    color: #4C4C4C;
  }
}

@media (max-width: 886px) {
  .about {
  
    &__container {
      flex-direction: column;
      align-items: center;
      gap: 80px;
    }
  
    &__image {
      order: 2;
    }
  
    &__text-content {
      order: 1;
      margin: 0;
      max-width: none;
      padding: 0 138px;
    }

    &__title {
      max-width: none;
      padding: 0 25px 0 0;
    }
  }
}

@media (max-width: 767.7px) {
  .about {
    padding: 42px 0 37px;
  
    &__container {
      gap: 42px;
    }
  
    &__image {
      padding: 0 20px;
    }
  
    &__image > img {
      width: 100%;
    }
  
    &__text-content {
      margin: 0;
      max-width: none;
      padding: 0;
    }

    &__title {
      font-size: 25px;
      line-height: 32px;
      padding: 0 5px;
      text-align: center;
    }

    &__text {
      font-size: 15px;
      line-height: 24px;
      padding: 0 15px;
      text-align: justify;
    }

    &__text:last-child {
      margin: -3px 0 0 0;
    }
  }
}

