.banner {
  padding: 180px 0 0 0;
  background: url('./assets/noise_transparent@2x.png'), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;

  &__container {
    display: flex;
    gap: 42px;
  }

  &__text-content {
    margin: 12.8cqw 0 5cqw 0;
    display: flex;
    flex-direction: column;
    gap: 42px;
    max-width: 460px;
  }

  &__title {
    font-size: 44px;
    line-height: 130%;
    color: #FFFFFF;
    max-width: 400px;
  }

  &__text {
    font-family: 'Arial';
    font-size: 15px;
    line-height: 24px;
    color: #CDCDCD;
  }

  &__btn-link {
    display: inline-block;
    width: 207px;
    height: 52px;
    line-height: 52px;
    text-align: center;
    background: #F1CDB3;
    border-radius: 100px;
    font-size: 17px;
    letter-spacing: 0.06em;
    color: #292929;
    text-decoration: none;
    transition: all .3s ease;
  }

  &__btn-link:hover {
    background: #FDDCC4;
  }

  &__image {
    font-size: 0;
    display: flex;
    align-items: flex-end;
    min-width: 50%;
  }
  
  &__image > img{
    width: 100%;
    
  }
}

@media (max-width: 886px) {
  .banner {
    padding: 150px 0 0 0;
  
    &__container {
      flex-direction: column;
      align-items: center;
      gap: 99px;
    }
  
    &__text-content {
      margin: 0;
      align-items: left;
      max-width: none;
      padding: 0 124px;
    }
  
    &__title {
      max-width: 310px;
    }
  
    &__btn-link {
      align-self: center;
    }
  
    &__image {
      padding: 0 0 0 139px;
      align-self: flex-end;
    }
  }
}

@media (max-width: 767.7px) {
  .banner {
  
    &__container {
      gap: 106px;
    }
  
    &__text-content {
      align-items: center;
      padding: 0;
    }
  
    &__title {
      font-size: 25px;
      line-height: 32px;
      text-align: center;
      max-width: 230px;
      letter-spacing: 0.06em;
    }
  
    &__text {
      text-align: center;
    }
    &__image {
      padding: 0 0 0 40px;
    }
  }
}
