*, *::after, *::before {
  box-sizing: border-box;
}
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

p {
  margin: 0;
}

/* ul {
  margin: 0;
  padding: 0;
} */

a, a:visited {
  color: inherit;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}