.header {
  padding: 30px 0 0 0;
  position: absolute;
  width: 100%;
  

  &__burger {
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    transition: all .3s ease;
    text-decoration: none;
  }

  &__logo:hover {
    transform: scale(1.2);
  }

  &__menu {
    display: flex;
    margin: -1px 0 0 0;
    gap: 36px;
    list-style: none;
    font-family: 'Arial';
  }

  &__item {
    font-size: 15px;
    line-height: 24px;
    color: #CDCDCD;
    transition: all .3s ease;
    position: relative;
  }

  &__item:hover {
    color: #FAFAFA;
  }

  &__item:active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    background: #F1CDB3;
  }

  &__item_active {
    //position: relative;
    color: #FAFAFA;
  }

  &__item_active:hover > a {
    user-select: none;
    cursor: default;
  }

  &__item_active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    background: #F1CDB3;
  }

  &__link {
    text-decoration: none;
  }
}

.logo-color {

  &__title {
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    margin: 0 0 9px 0;
  }

  &__subtitle {
    font-family: 'Arial';
    font-style: normal;
    text-align: center;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
  }
}

/* FOR PETS PAGE */

.header {

  &__item_dark {
    color: #545454;
  }

  &__item_dark:hover {
    color: #292929;
  }

  &__item_active-dark {
    color: #545454;
  }

  &__item_active-dark::after {
    background: #F1CDB3;
  }
}

.header_white {
  background: #FFFFFF;
  padding: 30px 0 30px 0;
}

.logo-black {

  &__title {
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0 0 9px 0;
  }

  &__subtitle {
    font-family: 'Arial';
    font-style: normal;
    text-align: center;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #292929;
  }
}

.burger {
  position: relative;
  display: none;
  z-index: 4;
  width: 30px;
  height: 22px;
  margin: 0 11px 0 0;
  flex-direction: column;
  justify-content: space-between;
  transition: all .3s ease;
  cursor: pointer;

  &__line {
    border: 1px solid #F1CDB3;
  }
  &__line_dark {
    border: 1px solid #000000;
  }

  &_shown {
    transform: rotate(90deg);
  }
}

@media (max-width: 769px) {
  
  .header {

    &__container {
    }

    &__logo {
    }

    &__logo:hover {
    }

    &__menu {
    }

    &__item {
    }

    &__item:hover {
    }

    &__item_active {
    }

    &__item:active::after {
    }

    &__item_active:hover > a {
    }

    &__item_active::after {
    }
  }
}

@media (max-width: 767.7px) {
  
  .header {

    &__container {
    }

    &__logo {
      margin: 0 0 0 10px;
    }

    &__logo:hover {
    }

    &__menu {
      position: absolute;
      z-index: 3;
      top: 0;
      right: -100vw;
      width: 320px;
      height: 100vh;
      margin: 0;
      padding: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 40px;
      background: #292929;
      transition: all .3s ease;
    }

    &__menu_shown {
      right: 0;
    }

    &__item {
      font-size: 32px;
      line-height: 51px;
    }

    &__item:hover {
    }

    &__item_active {
    }

    &__item:active::after {
    }

    &__item_active:hover > a {
    }

    &__item_active::after {
      bottom: -1px;
    }
}

/* FOR PETS PAGE */

.header {

  &__item_dark {
    color: #CDCDCD;
  }

  &__item_dark:hover {
    color: #FAFAFA;
  }

  &__item_active-dark {
    color: #FAFAFA;
  }

  &__item_active-dark::after {
    background: #F1CDB3;
  }
}

.burger {
  display: flex;

  &_shown > .burger__line_dark {
    border: 1px solid #F1CDB3;
  }
}

}
