.our-friends {
  padding: 200px 0 100px 0;
  background: #F6F6F6;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
  }

  &__title {
    max-width: 400px;
    font-size: 35px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
  }

  &__pagination {
  }
}

@media (max-width: 900px) {
  .our-friends {
    padding: 200px 0 76px 0;
  
    &__container {
      gap: 17px;
    }
  
    &__title {
    }
  
    &__pagination {
    }
  }
  
}

@media (max-width: 767.7px) {
  .our-friends {
    padding: 162px 0 43px 0;
  
    &__container {
      gap: 28px;
    }
  
    &__title {
      font-size: 25px;
      line-height: 32px;
    }
  
    &__pagination {
    }
  }
  
}
